USE [TayDoV2]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/2/2026 8:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AcademicYears]    Script Date: 7/2/2026 8:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcademicYears](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Year] [int] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_AcademicYears] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendances]    Script Date: 7/2/2026 8:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendances](
	[Id] [uniqueidentifier] NOT NULL,
	[SubjectScheduleId] [uniqueidentifier] NOT NULL,
	[StudentId] [uniqueidentifier] NOT NULL,
	[CreatedById] [uniqueidentifier] NOT NULL,
	[Status] [int] NOT NULL,
	[Notes] [nvarchar](max) NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[IsFirstTypeWarning] [bit] NULL,
	[IsSecondTypeWarning] [bit] NULL,
 CONSTRAINT [PK_Attendances] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 7/2/2026 8:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[Id] [uniqueidentifier] NOT NULL,
	[Action] [int] NOT NULL,
	[Details] [nvarchar](max) NOT NULL,
	[RecordId] [uniqueidentifier] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[RecordEntity] [int] NULL,
	[RecordDesc] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_AuditLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EvaluationCriterias]    Script Date: 7/2/2026 8:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EvaluationCriterias](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Type] [int] NOT NULL,
	[Score] [decimal](18, 2) NOT NULL,
	[ParentId] [uniqueidentifier] NULL,
	[QuestionId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_EvaluationCriterias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamAttempts]    Script Date: 7/2/2026 8:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamAttempts](
	[Id] [uniqueidentifier] NOT NULL,
	[StudentId] [uniqueidentifier] NOT NULL,
	[SubjectTeachingExamId] [uniqueidentifier] NOT NULL,
	[DraftDate] [datetime2](7) NULL,
	[SubmitDate] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_ExamAttempts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamQuestionAnswers]    Script Date: 7/2/2026 8:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamQuestionAnswers](
	[Id] [uniqueidentifier] NOT NULL,
	[ExamQuestionSelectionId] [uniqueidentifier] NOT NULL,
	[AnswerText] [nvarchar](max) NOT NULL,
	[IsAnswer] [bit] NOT NULL,
 CONSTRAINT [PK_ExamQuestionAnswers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamQuestionSelections]    Script Date: 7/2/2026 8:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamQuestionSelections](
	[Id] [uniqueidentifier] NOT NULL,
	[ExamAttemptId] [uniqueidentifier] NOT NULL,
	[AnswerId] [uniqueidentifier] NULL,
	[QuestionText] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[Order] [int] NOT NULL,
	[IsFlag] [bit] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[SubmitDate] [datetime2](7) NULL,
 CONSTRAINT [PK_ExamQuestionSelections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamResults]    Script Date: 7/2/2026 8:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamResults](
	[Id] [uniqueidentifier] NOT NULL,
	[SubjectTeachingExamId] [uniqueidentifier] NOT NULL,
	[StudentId] [uniqueidentifier] NOT NULL,
	[ExamAttemptId] [uniqueidentifier] NULL,
	[Result] [real] NULL,
	[CombinedResult] [real] NULL,
	[Notes] [nvarchar](max) NULL,
	[ExamResultDesc] [nvarchar](max) NULL,
	[ExamResultDetail] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_ExamResults] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faculties]    Script Date: 7/2/2026 8:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faculties](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Faculties] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormRequests]    Script Date: 7/2/2026 8:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormRequests](
	[Id] [uniqueidentifier] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NOT NULL,
	[StudentId] [uniqueidentifier] NOT NULL,
	[FormTemplateId] [uniqueidentifier] NULL,
	[ApprovalId] [uniqueidentifier] NULL,
	[ApprovalName] [nvarchar](max) NOT NULL,
	[Note] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_FormRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormTemplates]    Script Date: 7/2/2026 8:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormTemplates](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[DocumentUrl] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_FormTemplates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Majors]    Script Date: 7/2/2026 8:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Majors](
	[Id] [uniqueidentifier] NOT NULL,
	[FacultyId] [uniqueidentifier] NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[TrainingType] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Majors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResets]    Script Date: 7/2/2026 8:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResets](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[IsDeactive] [bit] NOT NULL,
 CONSTRAINT [PK_PasswordResets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionAnswers]    Script Date: 7/2/2026 8:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionAnswers](
	[Id] [uniqueidentifier] NOT NULL,
	[QuestionId] [uniqueidentifier] NOT NULL,
	[AnswerText] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[IsAnswer] [bit] NOT NULL,
 CONSTRAINT [PK_QuestionAnswers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 7/2/2026 8:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[Id] [uniqueidentifier] NOT NULL,
	[QuestionSuiteId] [uniqueidentifier] NOT NULL,
	[QuestionText] [nvarchar](max) NOT NULL,
	[Level] [int] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionSuites]    Script Date: 7/2/2026 8:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionSuites](
	[Id] [uniqueidentifier] NOT NULL,
	[SubjectId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[UpdatedById] [uniqueidentifier] NULL,
	[CreationTime] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_QuestionSuites] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 7/2/2026 8:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[NumberOfSeats] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Rooms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SemesterPlans]    Script Date: 7/2/2026 8:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SemesterPlans](
	[Id] [uniqueidentifier] NOT NULL,
	[AcademicYearId] [uniqueidentifier] NOT NULL,
	[MajorId] [uniqueidentifier] NOT NULL,
	[Semester] [int] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_SemesterPlans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SemesterSubjects]    Script Date: 7/2/2026 8:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SemesterSubjects](
	[Id] [uniqueidentifier] NOT NULL,
	[SemesterPlanId] [uniqueidentifier] NOT NULL,
	[SubjectId] [uniqueidentifier] NULL,
	[SubjectName] [nvarchar](max) NOT NULL,
	[SubjectCode] [nvarchar](max) NOT NULL,
	[CreditPoint] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_SemesterSubjects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SemesterTuitions]    Script Date: 7/2/2026 8:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SemesterTuitions](
	[Id] [uniqueidentifier] NOT NULL,
	[SemesterPlanId] [uniqueidentifier] NOT NULL,
	[StudentId] [uniqueidentifier] NOT NULL,
	[Amount] [decimal](18, 2) NULL,
	[PaidDate] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_SemesterTuitions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 7/2/2026 8:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[Id] [uniqueidentifier] NOT NULL,
	[Key] [nvarchar](max) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Settings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentEvaluationDetails]    Script Date: 7/2/2026 8:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentEvaluationDetails](
	[Id] [uniqueidentifier] NOT NULL,
	[StudentEvaluationId] [uniqueidentifier] NOT NULL,
	[EvaluationCriteriaId] [uniqueidentifier] NULL,
	[EvaluationName] [nvarchar](max) NULL,
	[StudentScore] [decimal](18, 2) NULL,
	[Score] [decimal](18, 2) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_StudentEvaluationDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentEvaluations]    Script Date: 7/2/2026 8:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentEvaluations](
	[Id] [uniqueidentifier] NOT NULL,
	[StudentId] [uniqueidentifier] NOT NULL,
	[SubjectTeachingId] [uniqueidentifier] NULL,
	[SemesterPlanId] [uniqueidentifier] NULL,
	[SubjectTeachingExamId] [uniqueidentifier] NULL,
	[QuestionId] [uniqueidentifier] NULL,
	[TeacherId] [uniqueidentifier] NULL,
	[TeacherName] [nvarchar](max) NULL,
	[Type] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[TotalScore] [decimal](18, 2) NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_StudentEvaluations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 7/2/2026 8:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[AcademicYearId] [uniqueidentifier] NOT NULL,
	[MajorId] [uniqueidentifier] NOT NULL,
	[RelativeUserId] [uniqueidentifier] NULL,
	[StudyStatus] [int] NULL,
	[Gender] [int] NULL,
	[Nickname] [nvarchar](max) NULL,
	[PlaceOfBirth] [nvarchar](max) NULL,
	[Hometown] [nvarchar](max) NULL,
	[PermanentAddress] [nvarchar](max) NULL,
	[ContactAddress] [nvarchar](max) NULL,
	[Ethnicity] [nvarchar](max) NULL,
	[Religion] [nvarchar](max) NULL,
	[EducationLevel] [nvarchar](max) NULL,
	[FatherName] [nvarchar](max) NULL,
	[FatherOccupation] [nvarchar](max) NULL,
	[MotherName] [nvarchar](max) NULL,
	[MotherOccupation] [nvarchar](max) NULL,
	[SpouseName] [nvarchar](max) NULL,
	[SpouseOccupation] [nvarchar](max) NULL,
	[PolicySubject] [nvarchar](max) NULL,
	[PreviousOccupation] [nvarchar](max) NULL,
	[PostGraduationWorkplace] [nvarchar](max) NULL,
	[CommunistPartyJoinDate] [datetime2](7) NULL,
	[OfficialPartyJoinDate] [datetime2](7) NULL,
	[YouthUnionJoinDate] [datetime2](7) NULL,
	[IsGraduated] [bit] NOT NULL,
	[HasIssue] [bit] NULL,
	[IssueDescription] [nvarchar](max) NOT NULL,
	[LibraryId] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubjectDocuments]    Script Date: 7/2/2026 8:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectDocuments](
	[Id] [uniqueidentifier] NOT NULL,
	[SubjectId] [uniqueidentifier] NOT NULL,
	[Type] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Detail] [nvarchar](max) NOT NULL,
	[Url] [nvarchar](max) NOT NULL,
	[CreateById] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_SubjectDocuments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 7/2/2026 8:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[Id] [uniqueidentifier] NOT NULL,
	[FacultyId] [uniqueidentifier] NULL,
	[SubjectCode] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CreditPoint] [int] NOT NULL,
	[TotalHours] [int] NULL,
	[Note] [nvarchar](max) NOT NULL,
	[IsActived] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Subjects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubjectSchedules]    Script Date: 7/2/2026 8:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectSchedules](
	[Id] [uniqueidentifier] NOT NULL,
	[SubjectTeachingId] [uniqueidentifier] NOT NULL,
	[RoomId] [uniqueidentifier] NULL,
	[TeacherId] [uniqueidentifier] NULL,
	[StartDateTime] [datetime2](7) NOT NULL,
	[EndDateTime] [datetime2](7) NOT NULL,
	[ScheduleType] [int] NULL,
	[Note] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_SubjectSchedules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubjectSpecialNotes]    Script Date: 7/2/2026 8:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectSpecialNotes](
	[Id] [uniqueidentifier] NOT NULL,
	[SubjectId] [uniqueidentifier] NOT NULL,
	[StudentId] [uniqueidentifier] NOT NULL,
	[CreatedById] [uniqueidentifier] NOT NULL,
	[Notes] [nvarchar](max) NOT NULL,
	[Type] [int] NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_SubjectSpecialNotes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubjectStudents]    Script Date: 7/2/2026 8:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectStudents](
	[Id] [uniqueidentifier] NOT NULL,
	[SubjectTeachingId] [uniqueidentifier] NOT NULL,
	[StudentId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_SubjectStudents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubjectTeachingExams]    Script Date: 7/2/2026 8:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectTeachingExams](
	[Id] [uniqueidentifier] NOT NULL,
	[SubjectTeachingId] [uniqueidentifier] NOT NULL,
	[QuestionSuiteId] [uniqueidentifier] NULL,
	[Name] [nvarchar](max) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[RoomId] [uniqueidentifier] NULL,
	[TeacherId] [uniqueidentifier] NULL,
	[Notes] [nvarchar](max) NOT NULL,
	[Type] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[NumOfEasy] [int] NOT NULL,
	[NumOfNormal] [int] NOT NULL,
	[NumOfHard] [int] NOT NULL,
	[NumOfPractice] [int] NOT NULL,
	[Method] [int] NULL,
	[AllowNotifyStudent] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_SubjectTeachingExams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubjectTeachings]    Script Date: 7/2/2026 8:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectTeachings](
	[Id] [uniqueidentifier] NOT NULL,
	[SubjectId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[TotalSessions] [int] NOT NULL,
	[RoomIdDefault] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_SubjectTeachings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubjectTeachingTeachers]    Script Date: 7/2/2026 8:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectTeachingTeachers](
	[Id] [uniqueidentifier] NOT NULL,
	[SubjectTeachingId] [uniqueidentifier] NOT NULL,
	[TeacherId] [uniqueidentifier] NULL,
	[IsMainTeacher] [bit] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_SubjectTeachingTeachers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherFaculties]    Script Date: 7/2/2026 8:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherFaculties](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[FacultyId] [uniqueidentifier] NOT NULL,
	[IsHeadOfFaculty] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_TeacherFaculties] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAnnouncements]    Script Date: 7/2/2026 8:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAnnouncements](
	[Id] [uniqueidentifier] NOT NULL,
	[Type] [int] NOT NULL,
	[UserIds] [nvarchar](max) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[Status] [int] NOT NULL,
	[DeepLink] [nvarchar](max) NOT NULL,
	[DeepLinkParam] [nvarchar](max) NOT NULL,
	[EntityObjectId] [uniqueidentifier] NOT NULL,
	[EnforceRead] [bit] NOT NULL,
	[NotificationType] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_UserAnnouncements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDevices]    Script Date: 7/2/2026 8:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDevices](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[UserRole] [int] NOT NULL,
	[DeviceType] [int] NOT NULL,
	[Identifier] [nvarchar](max) NOT NULL,
	[PushId] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_UserDevices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/2/2026 8:00:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](450) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[PasswordSalt] [varbinary](max) NOT NULL,
	[FullName] [nvarchar](450) NOT NULL,
	[BirthDate] [datetime2](7) NULL,
	[IdentificationDate] [datetime2](7) NULL,
	[IdentificationNumber] [nvarchar](max) NULL,
	[UserInternalId] [nvarchar](450) NOT NULL,
	[Mobile] [nvarchar](450) NULL,
	[ProfilePicUrl] [nvarchar](max) NULL,
	[Role] [int] NOT NULL,
	[IsActived] [bit] NOT NULL,
	[LastEnforceAnnouncementRead] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Attendances]  WITH CHECK ADD  CONSTRAINT [FK_Attendances_Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[Attendances] CHECK CONSTRAINT [FK_Attendances_Students_StudentId]
GO
ALTER TABLE [dbo].[Attendances]  WITH CHECK ADD  CONSTRAINT [FK_Attendances_SubjectSchedules_SubjectScheduleId] FOREIGN KEY([SubjectScheduleId])
REFERENCES [dbo].[SubjectSchedules] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Attendances] CHECK CONSTRAINT [FK_Attendances_SubjectSchedules_SubjectScheduleId]
GO
ALTER TABLE [dbo].[Attendances]  WITH CHECK ADD  CONSTRAINT [FK_Attendances_Users_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Attendances] CHECK CONSTRAINT [FK_Attendances_Users_CreatedById]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_AuditLogs_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_AuditLogs_Users_UserId]
GO
ALTER TABLE [dbo].[EvaluationCriterias]  WITH CHECK ADD  CONSTRAINT [FK_EvaluationCriterias_EvaluationCriterias_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[EvaluationCriterias] ([Id])
GO
ALTER TABLE [dbo].[EvaluationCriterias] CHECK CONSTRAINT [FK_EvaluationCriterias_EvaluationCriterias_ParentId]
GO
ALTER TABLE [dbo].[EvaluationCriterias]  WITH CHECK ADD  CONSTRAINT [FK_EvaluationCriterias_Questions_QuestionId] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[EvaluationCriterias] CHECK CONSTRAINT [FK_EvaluationCriterias_Questions_QuestionId]
GO
ALTER TABLE [dbo].[ExamAttempts]  WITH CHECK ADD  CONSTRAINT [FK_ExamAttempts_Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[ExamAttempts] CHECK CONSTRAINT [FK_ExamAttempts_Students_StudentId]
GO
ALTER TABLE [dbo].[ExamAttempts]  WITH CHECK ADD  CONSTRAINT [FK_ExamAttempts_SubjectTeachingExams_SubjectTeachingExamId] FOREIGN KEY([SubjectTeachingExamId])
REFERENCES [dbo].[SubjectTeachingExams] ([Id])
GO
ALTER TABLE [dbo].[ExamAttempts] CHECK CONSTRAINT [FK_ExamAttempts_SubjectTeachingExams_SubjectTeachingExamId]
GO
ALTER TABLE [dbo].[ExamQuestionAnswers]  WITH CHECK ADD  CONSTRAINT [FK_ExamQuestionAnswers_ExamQuestionSelections_ExamQuestionSelectionId] FOREIGN KEY([ExamQuestionSelectionId])
REFERENCES [dbo].[ExamQuestionSelections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExamQuestionAnswers] CHECK CONSTRAINT [FK_ExamQuestionAnswers_ExamQuestionSelections_ExamQuestionSelectionId]
GO
ALTER TABLE [dbo].[ExamQuestionSelections]  WITH CHECK ADD  CONSTRAINT [FK_ExamQuestionSelections_ExamAttempts_ExamAttemptId] FOREIGN KEY([ExamAttemptId])
REFERENCES [dbo].[ExamAttempts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExamQuestionSelections] CHECK CONSTRAINT [FK_ExamQuestionSelections_ExamAttempts_ExamAttemptId]
GO
ALTER TABLE [dbo].[ExamResults]  WITH CHECK ADD  CONSTRAINT [FK_ExamResults_ExamAttempts_ExamAttemptId] FOREIGN KEY([ExamAttemptId])
REFERENCES [dbo].[ExamAttempts] ([Id])
GO
ALTER TABLE [dbo].[ExamResults] CHECK CONSTRAINT [FK_ExamResults_ExamAttempts_ExamAttemptId]
GO
ALTER TABLE [dbo].[ExamResults]  WITH CHECK ADD  CONSTRAINT [FK_ExamResults_Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[ExamResults] CHECK CONSTRAINT [FK_ExamResults_Students_StudentId]
GO
ALTER TABLE [dbo].[ExamResults]  WITH CHECK ADD  CONSTRAINT [FK_ExamResults_SubjectTeachingExams_SubjectTeachingExamId] FOREIGN KEY([SubjectTeachingExamId])
REFERENCES [dbo].[SubjectTeachingExams] ([Id])
GO
ALTER TABLE [dbo].[ExamResults] CHECK CONSTRAINT [FK_ExamResults_SubjectTeachingExams_SubjectTeachingExamId]
GO
ALTER TABLE [dbo].[FormRequests]  WITH CHECK ADD  CONSTRAINT [FK_FormRequests_FormTemplates_FormTemplateId] FOREIGN KEY([FormTemplateId])
REFERENCES [dbo].[FormTemplates] ([Id])
GO
ALTER TABLE [dbo].[FormRequests] CHECK CONSTRAINT [FK_FormRequests_FormTemplates_FormTemplateId]
GO
ALTER TABLE [dbo].[FormRequests]  WITH CHECK ADD  CONSTRAINT [FK_FormRequests_Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[FormRequests] CHECK CONSTRAINT [FK_FormRequests_Students_StudentId]
GO
ALTER TABLE [dbo].[FormRequests]  WITH CHECK ADD  CONSTRAINT [FK_FormRequests_Users_ApprovalId] FOREIGN KEY([ApprovalId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[FormRequests] CHECK CONSTRAINT [FK_FormRequests_Users_ApprovalId]
GO
ALTER TABLE [dbo].[Majors]  WITH CHECK ADD  CONSTRAINT [FK_Majors_Faculties_FacultyId] FOREIGN KEY([FacultyId])
REFERENCES [dbo].[Faculties] ([Id])
GO
ALTER TABLE [dbo].[Majors] CHECK CONSTRAINT [FK_Majors_Faculties_FacultyId]
GO
ALTER TABLE [dbo].[QuestionAnswers]  WITH CHECK ADD  CONSTRAINT [FK_QuestionAnswers_Questions_QuestionId] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuestionAnswers] CHECK CONSTRAINT [FK_QuestionAnswers_Questions_QuestionId]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_QuestionSuites_QuestionSuiteId] FOREIGN KEY([QuestionSuiteId])
REFERENCES [dbo].[QuestionSuites] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_QuestionSuites_QuestionSuiteId]
GO
ALTER TABLE [dbo].[QuestionSuites]  WITH CHECK ADD  CONSTRAINT [FK_QuestionSuites_Subjects_SubjectId] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuestionSuites] CHECK CONSTRAINT [FK_QuestionSuites_Subjects_SubjectId]
GO
ALTER TABLE [dbo].[QuestionSuites]  WITH CHECK ADD  CONSTRAINT [FK_QuestionSuites_Users_UpdatedById] FOREIGN KEY([UpdatedById])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[QuestionSuites] CHECK CONSTRAINT [FK_QuestionSuites_Users_UpdatedById]
GO
ALTER TABLE [dbo].[SemesterPlans]  WITH CHECK ADD  CONSTRAINT [FK_SemesterPlans_AcademicYears_AcademicYearId] FOREIGN KEY([AcademicYearId])
REFERENCES [dbo].[AcademicYears] ([Id])
GO
ALTER TABLE [dbo].[SemesterPlans] CHECK CONSTRAINT [FK_SemesterPlans_AcademicYears_AcademicYearId]
GO
ALTER TABLE [dbo].[SemesterPlans]  WITH CHECK ADD  CONSTRAINT [FK_SemesterPlans_Majors_MajorId] FOREIGN KEY([MajorId])
REFERENCES [dbo].[Majors] ([Id])
GO
ALTER TABLE [dbo].[SemesterPlans] CHECK CONSTRAINT [FK_SemesterPlans_Majors_MajorId]
GO
ALTER TABLE [dbo].[SemesterSubjects]  WITH CHECK ADD  CONSTRAINT [FK_SemesterSubjects_SemesterPlans_SemesterPlanId] FOREIGN KEY([SemesterPlanId])
REFERENCES [dbo].[SemesterPlans] ([Id])
GO
ALTER TABLE [dbo].[SemesterSubjects] CHECK CONSTRAINT [FK_SemesterSubjects_SemesterPlans_SemesterPlanId]
GO
ALTER TABLE [dbo].[SemesterSubjects]  WITH CHECK ADD  CONSTRAINT [FK_SemesterSubjects_Subjects_SubjectId] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SemesterSubjects] CHECK CONSTRAINT [FK_SemesterSubjects_Subjects_SubjectId]
GO
ALTER TABLE [dbo].[SemesterTuitions]  WITH CHECK ADD  CONSTRAINT [FK_SemesterTuitions_SemesterPlans_SemesterPlanId] FOREIGN KEY([SemesterPlanId])
REFERENCES [dbo].[SemesterPlans] ([Id])
GO
ALTER TABLE [dbo].[SemesterTuitions] CHECK CONSTRAINT [FK_SemesterTuitions_SemesterPlans_SemesterPlanId]
GO
ALTER TABLE [dbo].[SemesterTuitions]  WITH CHECK ADD  CONSTRAINT [FK_SemesterTuitions_Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[SemesterTuitions] CHECK CONSTRAINT [FK_SemesterTuitions_Students_StudentId]
GO
ALTER TABLE [dbo].[StudentEvaluationDetails]  WITH CHECK ADD  CONSTRAINT [FK_StudentEvaluationDetails_EvaluationCriterias_EvaluationCriteriaId] FOREIGN KEY([EvaluationCriteriaId])
REFERENCES [dbo].[EvaluationCriterias] ([Id])
GO
ALTER TABLE [dbo].[StudentEvaluationDetails] CHECK CONSTRAINT [FK_StudentEvaluationDetails_EvaluationCriterias_EvaluationCriteriaId]
GO
ALTER TABLE [dbo].[StudentEvaluationDetails]  WITH CHECK ADD  CONSTRAINT [FK_StudentEvaluationDetails_StudentEvaluations_StudentEvaluationId] FOREIGN KEY([StudentEvaluationId])
REFERENCES [dbo].[StudentEvaluations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentEvaluationDetails] CHECK CONSTRAINT [FK_StudentEvaluationDetails_StudentEvaluations_StudentEvaluationId]
GO
ALTER TABLE [dbo].[StudentEvaluations]  WITH CHECK ADD  CONSTRAINT [FK_StudentEvaluations_Questions_QuestionId] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([Id])
GO
ALTER TABLE [dbo].[StudentEvaluations] CHECK CONSTRAINT [FK_StudentEvaluations_Questions_QuestionId]
GO
ALTER TABLE [dbo].[StudentEvaluations]  WITH CHECK ADD  CONSTRAINT [FK_StudentEvaluations_SemesterPlans_SemesterPlanId] FOREIGN KEY([SemesterPlanId])
REFERENCES [dbo].[SemesterPlans] ([Id])
GO
ALTER TABLE [dbo].[StudentEvaluations] CHECK CONSTRAINT [FK_StudentEvaluations_SemesterPlans_SemesterPlanId]
GO
ALTER TABLE [dbo].[StudentEvaluations]  WITH CHECK ADD  CONSTRAINT [FK_StudentEvaluations_Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[StudentEvaluations] CHECK CONSTRAINT [FK_StudentEvaluations_Students_StudentId]
GO
ALTER TABLE [dbo].[StudentEvaluations]  WITH CHECK ADD  CONSTRAINT [FK_StudentEvaluations_SubjectTeachingExams_SubjectTeachingExamId] FOREIGN KEY([SubjectTeachingExamId])
REFERENCES [dbo].[SubjectTeachingExams] ([Id])
GO
ALTER TABLE [dbo].[StudentEvaluations] CHECK CONSTRAINT [FK_StudentEvaluations_SubjectTeachingExams_SubjectTeachingExamId]
GO
ALTER TABLE [dbo].[StudentEvaluations]  WITH CHECK ADD  CONSTRAINT [FK_StudentEvaluations_SubjectTeachings_SubjectTeachingId] FOREIGN KEY([SubjectTeachingId])
REFERENCES [dbo].[SubjectTeachings] ([Id])
GO
ALTER TABLE [dbo].[StudentEvaluations] CHECK CONSTRAINT [FK_StudentEvaluations_SubjectTeachings_SubjectTeachingId]
GO
ALTER TABLE [dbo].[StudentEvaluations]  WITH CHECK ADD  CONSTRAINT [FK_StudentEvaluations_TeacherFaculties_TeacherId] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[TeacherFaculties] ([Id])
GO
ALTER TABLE [dbo].[StudentEvaluations] CHECK CONSTRAINT [FK_StudentEvaluations_TeacherFaculties_TeacherId]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_AcademicYears_AcademicYearId] FOREIGN KEY([AcademicYearId])
REFERENCES [dbo].[AcademicYears] ([Id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_AcademicYears_AcademicYearId]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Majors_MajorId] FOREIGN KEY([MajorId])
REFERENCES [dbo].[Majors] ([Id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Majors_MajorId]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Users_RelativeUserId] FOREIGN KEY([RelativeUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Users_RelativeUserId]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Users_UserId]
GO
ALTER TABLE [dbo].[SubjectDocuments]  WITH CHECK ADD  CONSTRAINT [FK_SubjectDocuments_Subjects_SubjectId] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubjectDocuments] CHECK CONSTRAINT [FK_SubjectDocuments_Subjects_SubjectId]
GO
ALTER TABLE [dbo].[SubjectDocuments]  WITH CHECK ADD  CONSTRAINT [FK_SubjectDocuments_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[SubjectDocuments] CHECK CONSTRAINT [FK_SubjectDocuments_Users_UserId]
GO
ALTER TABLE [dbo].[Subjects]  WITH CHECK ADD  CONSTRAINT [FK_Subjects_Faculties_FacultyId] FOREIGN KEY([FacultyId])
REFERENCES [dbo].[Faculties] ([Id])
GO
ALTER TABLE [dbo].[Subjects] CHECK CONSTRAINT [FK_Subjects_Faculties_FacultyId]
GO
ALTER TABLE [dbo].[SubjectSchedules]  WITH CHECK ADD  CONSTRAINT [FK_SubjectSchedules_Rooms_RoomId] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([Id])
GO
ALTER TABLE [dbo].[SubjectSchedules] CHECK CONSTRAINT [FK_SubjectSchedules_Rooms_RoomId]
GO
ALTER TABLE [dbo].[SubjectSchedules]  WITH CHECK ADD  CONSTRAINT [FK_SubjectSchedules_SubjectTeachings_SubjectTeachingId] FOREIGN KEY([SubjectTeachingId])
REFERENCES [dbo].[SubjectTeachings] ([Id])
GO
ALTER TABLE [dbo].[SubjectSchedules] CHECK CONSTRAINT [FK_SubjectSchedules_SubjectTeachings_SubjectTeachingId]
GO
ALTER TABLE [dbo].[SubjectSchedules]  WITH CHECK ADD  CONSTRAINT [FK_SubjectSchedules_TeacherFaculties_TeacherId] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[TeacherFaculties] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SubjectSchedules] CHECK CONSTRAINT [FK_SubjectSchedules_TeacherFaculties_TeacherId]
GO
ALTER TABLE [dbo].[SubjectSpecialNotes]  WITH CHECK ADD  CONSTRAINT [FK_SubjectSpecialNotes_Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[SubjectSpecialNotes] CHECK CONSTRAINT [FK_SubjectSpecialNotes_Students_StudentId]
GO
ALTER TABLE [dbo].[SubjectSpecialNotes]  WITH CHECK ADD  CONSTRAINT [FK_SubjectSpecialNotes_Subjects_SubjectId] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([Id])
GO
ALTER TABLE [dbo].[SubjectSpecialNotes] CHECK CONSTRAINT [FK_SubjectSpecialNotes_Subjects_SubjectId]
GO
ALTER TABLE [dbo].[SubjectSpecialNotes]  WITH CHECK ADD  CONSTRAINT [FK_SubjectSpecialNotes_Users_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[SubjectSpecialNotes] CHECK CONSTRAINT [FK_SubjectSpecialNotes_Users_CreatedById]
GO
ALTER TABLE [dbo].[SubjectStudents]  WITH CHECK ADD  CONSTRAINT [FK_SubjectStudents_Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[SubjectStudents] CHECK CONSTRAINT [FK_SubjectStudents_Students_StudentId]
GO
ALTER TABLE [dbo].[SubjectStudents]  WITH CHECK ADD  CONSTRAINT [FK_SubjectStudents_SubjectTeachings_SubjectTeachingId] FOREIGN KEY([SubjectTeachingId])
REFERENCES [dbo].[SubjectTeachings] ([Id])
GO
ALTER TABLE [dbo].[SubjectStudents] CHECK CONSTRAINT [FK_SubjectStudents_SubjectTeachings_SubjectTeachingId]
GO
ALTER TABLE [dbo].[SubjectTeachingExams]  WITH CHECK ADD  CONSTRAINT [FK_SubjectTeachingExams_QuestionSuites_QuestionSuiteId] FOREIGN KEY([QuestionSuiteId])
REFERENCES [dbo].[QuestionSuites] ([Id])
GO
ALTER TABLE [dbo].[SubjectTeachingExams] CHECK CONSTRAINT [FK_SubjectTeachingExams_QuestionSuites_QuestionSuiteId]
GO
ALTER TABLE [dbo].[SubjectTeachingExams]  WITH CHECK ADD  CONSTRAINT [FK_SubjectTeachingExams_Rooms_RoomId] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([Id])
GO
ALTER TABLE [dbo].[SubjectTeachingExams] CHECK CONSTRAINT [FK_SubjectTeachingExams_Rooms_RoomId]
GO
ALTER TABLE [dbo].[SubjectTeachingExams]  WITH CHECK ADD  CONSTRAINT [FK_SubjectTeachingExams_SubjectTeachings_SubjectTeachingId] FOREIGN KEY([SubjectTeachingId])
REFERENCES [dbo].[SubjectTeachings] ([Id])
GO
ALTER TABLE [dbo].[SubjectTeachingExams] CHECK CONSTRAINT [FK_SubjectTeachingExams_SubjectTeachings_SubjectTeachingId]
GO
ALTER TABLE [dbo].[SubjectTeachingExams]  WITH CHECK ADD  CONSTRAINT [FK_SubjectTeachingExams_TeacherFaculties_TeacherId] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[TeacherFaculties] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SubjectTeachingExams] CHECK CONSTRAINT [FK_SubjectTeachingExams_TeacherFaculties_TeacherId]
GO
ALTER TABLE [dbo].[SubjectTeachings]  WITH CHECK ADD  CONSTRAINT [FK_SubjectTeachings_Rooms_RoomIdDefault] FOREIGN KEY([RoomIdDefault])
REFERENCES [dbo].[Rooms] ([Id])
GO
ALTER TABLE [dbo].[SubjectTeachings] CHECK CONSTRAINT [FK_SubjectTeachings_Rooms_RoomIdDefault]
GO
ALTER TABLE [dbo].[SubjectTeachings]  WITH CHECK ADD  CONSTRAINT [FK_SubjectTeachings_Subjects_SubjectId] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([Id])
GO
ALTER TABLE [dbo].[SubjectTeachings] CHECK CONSTRAINT [FK_SubjectTeachings_Subjects_SubjectId]
GO
ALTER TABLE [dbo].[SubjectTeachingTeachers]  WITH CHECK ADD  CONSTRAINT [FK_SubjectTeachingTeachers_SubjectTeachings_SubjectTeachingId] FOREIGN KEY([SubjectTeachingId])
REFERENCES [dbo].[SubjectTeachings] ([Id])
GO
ALTER TABLE [dbo].[SubjectTeachingTeachers] CHECK CONSTRAINT [FK_SubjectTeachingTeachers_SubjectTeachings_SubjectTeachingId]
GO
ALTER TABLE [dbo].[SubjectTeachingTeachers]  WITH CHECK ADD  CONSTRAINT [FK_SubjectTeachingTeachers_TeacherFaculties_TeacherId] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[TeacherFaculties] ([Id])
GO
ALTER TABLE [dbo].[SubjectTeachingTeachers] CHECK CONSTRAINT [FK_SubjectTeachingTeachers_TeacherFaculties_TeacherId]
GO
ALTER TABLE [dbo].[TeacherFaculties]  WITH CHECK ADD  CONSTRAINT [FK_TeacherFaculties_Faculties_FacultyId] FOREIGN KEY([FacultyId])
REFERENCES [dbo].[Faculties] ([Id])
GO
ALTER TABLE [dbo].[TeacherFaculties] CHECK CONSTRAINT [FK_TeacherFaculties_Faculties_FacultyId]
GO
ALTER TABLE [dbo].[TeacherFaculties]  WITH CHECK ADD  CONSTRAINT [FK_TeacherFaculties_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[TeacherFaculties] CHECK CONSTRAINT [FK_TeacherFaculties_Users_UserId]
GO
ALTER TABLE [dbo].[UserDevices]  WITH CHECK ADD  CONSTRAINT [FK_UserDevices_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserDevices] CHECK CONSTRAINT [FK_UserDevices_Users_UserId]
GO
